apiVersion: v1
kind: Secret
metadata:
  name: {{ lab06_repository_credentials_name }}
  namespace: {{ lab06_argocd_namespace }}
  labels:
    argocd.argoproj.io/secret-type: repository
    workshop.module: connectivity-link
    workshop.user: {{ lab_id }}
    workshop.component: lab06-repository
type: Opaque
stringData:
  type: git
  url: {{ lab06_git_repo_url | to_json }}
  sshPrivateKey: {{ lab06_repository_ssh_private_key | to_json }}
