[defaults]
inventory = inventory/localhost.yml
roles_path = ../common/roles:../labs/bonus-ia/roles:../labs/lab00/roles:../labs/lab01/roles:../labs/lab02/roles:../labs/lab03/roles:../labs/lab04a/roles:../labs/lab04b/roles:../labs/lab05/roles:../labs/lab06/roles:../labs/lab07/roles:../labs/lab08/roles:../labs/lab09/roles:../labs/lab10/roles:../labs/lab11/roles:../labs/lab12/roles
collections_path = ~/.ansible/collections:/usr/share/ansible/collections
retry_files_enabled = False
stdout_callback = ansible.builtin.default
result_format = yaml
callback_result_format = yaml
display_skipped_hosts = False
interpreter_python = auto_silent
callbacks_enabled = ansible.posix.profile_tasks
forks = 5
nocows = True

[callback_profile_tasks]
task_output_limit = 10
