# Instancia Keycloak + PostgreSQL in-cluster (05b-keycloak-instance.yaml.tpl).
# Los Secrets se crean desde variables (ansible-vault), nunca desde el repo.
apiVersion: v1
kind: Secret
metadata:
  name: keycloak-db-secret
  namespace: {{ keycloak_namespace }}
type: Opaque
stringData:
  username: keycloak
  password: "{{ keycloak_db_password }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ keycloak_admin_secret }}
  namespace: {{ keycloak_namespace }}
type: Opaque
stringData:
  username: admin
  password: "{{ keycloak_admin_password_inicial }}"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
  namespace: {{ keycloak_namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-db
  namespace: {{ keycloak_namespace }}
  labels:
    app: postgres-db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres-db
  template:
    metadata:
      labels:
        app: postgres-db
    spec:
      containers:
        - name: postgresql
          image: registry.redhat.io/rhel9/postgresql-16:latest
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRESQL_USER
              valueFrom:
                secretKeyRef:
                  name: keycloak-db-secret
                  key: username
            - name: POSTGRESQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: keycloak-db-secret
                  key: password
            - name: POSTGRESQL_DATABASE
              value: keycloak
          readinessProbe:
            exec:
              command:
                - /usr/libexec/check-container
            initialDelaySeconds: 10
            periodSeconds: 10
          volumeMounts:
            - name: data
              mountPath: /var/lib/pgsql/data
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: postgres-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: postgres-db
  namespace: {{ keycloak_namespace }}
spec:
  selector:
    app: postgres-db
  ports:
    - port: 5432
      targetPort: 5432
---
apiVersion: k8s.keycloak.org/v2beta1
kind: Keycloak
metadata:
  name: {{ keycloak_cr_nombre }}
  namespace: {{ keycloak_namespace }}
  labels:
    app: keycloak
    workshop.module: connectivity-link
spec:
  instances: 1
  bootstrapAdmin:
    user:
      secret: {{ keycloak_admin_secret }}
  db:
    vendor: postgres
    host: postgres-db
    port: 5432
    database: keycloak
    usernameSecret:
      name: keycloak-db-secret
      key: username
    passwordSecret:
      name: keycloak-db-secret
      key: password
  hostname:
    hostname: https://console-keycloak.{{ wk_ocp_domain }}
  http:
    httpEnabled: true
  ingress:
    annotations:
      haproxy.router.openshift.io/set-forwarded-headers: replace
  proxy:
    headers: xforwarded
